<?php

## Check http://www.observium.org/wiki/Configuration_Options for documentation of these settings

// Database config ---  This MUST be configured
$config['db_host'] = '{{ ob_db_host | default('localhost') }};
$config['db_user'] = '{{ ob_db_user }}';
$config['db_pass'] = '{{ ob_db_pass }}';
$config['db_name'] = '{{ ob_db_name | default('observium') }}';

// Base directory
$config['install_dir'] = "{{ ob_install_dir }}";

// Default community list to use when adding/discovering
$config['snmp']['community'] = array("public");

// Authentication Model
$config['auth_mechanism'] = "mysql";    // default, other options: ldap, http-auth, please see documentation for config help

// Enable alerter (not available in CE)
#$config['poller-wrapper']['alerter'] = TRUE;

// Set up a default alerter (email to a single address)
$config['alerts']['alerter']['default']['descr']   = "Default Email Alert";
$config['alerts']['alerter']['default']['type']    = "email";
$config['alerts']['alerter']['default']['contact'] = "you@yourdomain.org";
$config['alerts']['alerter']['default']['enable']  = TRUE;

{% if ansible_as_family == 'RedHat' %}
$config['fping'] = "/usr/sbin/fping";
{% endif %}

// End config.php
