<VirtualHost *:{{ apache_http_port }}>
   DocumentRoot {{ apache_document_root }}
   ServerName  {{ apache_fqdn }}
   CustomLog {{ apache_custom_log }}
   ErrorLog {{ apache_error _log }}
   <Directory "{{ apache_document_root">
   {% for opt in apache_options %}
       {{ opt }}
   {% endfor %}
   </Directory>
</VirtualHost>
